<article class="equipment">
  <Equipment::Image
    src={{@equipment.image}}
    alt="A picture of {{@equipment.title}}"
  />
  <div class="details">
    <h3>{{@equipment.title}}</h3>
    <div class="detail program">
      <span>Programme:</span> {{@equipment.program}}
    </div>
    <div class="detail height">
      <span>Taille vague:</span> {{@equipment.height}}
    </div>
    <div class="detail length">
      <span>Taille planche:</span> {{@equipment.length}}
    </div>
    <div class="detail volume">
      <span>Volume:</span> {{@equipment.volume}}
    </div>
  </div>
  <Map
    @lat="14.77001"
    @lng="-60.9006687"
    @zoom="10"
    @width="150"
    @height="150"
    alt="A map of Tartane"
  />
</article>